@mixin shape($shape-width, $shape-height, $shape-color, $shape-border){
    width: $shape-width;
    height: $shape-height;
    background-color: $shape-color;
    border: 10px solid $shape-border;
}
