.all {

    width: 100%;
    height: 730px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    text-align: center;
    word-spacing: 100px;
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    font-family: bahij;
}


.content {
    width: 95%;
    height: 600px;
    background-color: rgb(208, 218, 218);
    border-radius: 20px;
    display:flex;
   justify-content: center;
   align-items: center;
   font-family: bahij;
   font-size: 23px;


    
}

@font-face {
    font-family:ChronicaPro;
    src: url(/fonts/ChronicaPro-Regular.ttf);
}

@font-face {
    font-family:bahij ;
    src: url(/fonts/bahij-sultannahia.ttf);
}

a {
    text-decoration:none;
    color: rgb(36, 108, 190);
  }



  .foto{
    height: 35px;
    width: 35px;
    border-radius: 20%;
    box-shadow: 0px 0 6px 0 rgb(100, 93, 93);
  }

  table {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
   
  }
  
  th, td {
   padding: 15px;
  }
  

  
 
  
 .first{
    
    border-radius: 30%;
 }

 .first:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
 }

 .box{
  width: 30px;
  height: 30px;
  border-radius: 10px;
 }